#container{
    padding-top: 25px ; 
}

div{
    display: flex;
   flex-direction: column;
   padding: 0 25vh ;
}

banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



#banner-container{
    background-color: rgba(240, 231, 207, 0.438);
    color: #107777;
    border-top: solid 2px rgba(231, 216, 176, 0.603);
    width: 100%;
    text-align: center;
    margin-top: 5px ;
}

#img-logo{
    width: 300px;
}


#focaccia{
    border-radius: 10px;
}

iframe{
    width: auto;
    height: 500px;
    border-radius: 10px;
    border:none;
    -webkit-box-shadow: 0px -1px 31px 7px rgba(0,0,0,0.56); 
    box-shadow: 0px -1px 31px 7px rgba(0,0,0,0.56);
}

#banner-text{
    font-weight: bold ;
}

h1{
    text-align: center;
}

#img-rights{
    text-align: center;
    color: rgba(209, 209, 233, 0.836);
}

a{
    color: #107777;
}

#featured-text{
    color: #db825fe0;
}

#featured-border{
    border-left: solid 2px #db825fe0;
    padding-left:10px ;
}

hr{
        height:2px;
        width: 100%;
        border-width:0;
        color:#107777;
        background-color:#107777; 
}